MONGODB_URI=mongodb://localhost/sdBT
JWT_SECRET_SESSION=YOUR_JWT_SECRET_SESSION
JWT_SECRET_BOOKING=YOUR_JWT_SECRET_BOOKING
JWT_SECRET_TOKEN=YOUR_JWT_SECRET_TOKEN
JWT_SECRET_PAYMENT=YOUR_JWT_SECRET_PAYMENT
